* {
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 821px;
  background-color: black;
  color: #FFFFFF
}
.board{
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 25px #FFFFFF;
}
.tile {
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 25px #FFFFFF;
}
.turn {
  display: flex;
  justify-content: center;
  align-items: center;
}